<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Terminal</title>
	<script type="text/javascript" src="../static/jquery.min.js"></script>
	<style>
		html,body {
			background-color: #000;
			overflow-x:hidden;
			overflow-y:hidden;
			
		}
		#status, #output,.output {
			width:70%;
			margin-top: 50px;
			margin-left:auto;
			margin-right:auto;
			font-size: 40px;
			color: green;
			font-family:'Courier New';
		}
		#output,.output {
			margin-top:0px;
		}
		#scrambled {
			font-size: 100px;
		}
		#title {
			background-color: green;
			color:#000;
			padding:10px;
		}
		#crackerrun {
			outline: none;
			font-family:'Courier New';
		}
	</style>
</head>
<body>
	<div class="output" id="title">Terminal v3.14</div>
	<div id="status">><input type="text" id="crackerrun" style="border:none;background-color:#000;color:green;font-size:40px;" onKeyPress="return submitenter(this,event)" autofocus></div>
	<div id="output"></div>
	<div class="output" id="scrambled"></div>		
	<script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		var s = '';
		var scrstring;
		var passwordnotcracked = true;
		var j = 1;
		var randomcode;
        var password;
        
        for(var i = 32; i <= 126; i++) {
            s += String.fromCharCode(i);
        }
        
        function submitenter(myfield, e) {
            var keycode;
            if (window.event) {
                keycode = window.event.keyCode
            } else if (e) {
                keycode = e.which
            } else {
                return true;
            }

            if (keycode == 13) {
                startcracking();
                return false;
            } else {
                return true;
            }
        }

        function startcracking() {
            if(passwordnotcracked) {
                startTyping("Generating Password combinations: [/]", 40, "output");
                setTimeout(printrandom, 2160);
            }
            $.getJSON($SCRIPT_ROOT + '/realhackingrequest', {
                pwd: "dummy",
            }, function(data) {
                setTimeout(function() {displaypassword(data.p.toString())}, 10000);
            });
        }
        
        //function dump
		
		function readTextFile(file) {
			var rawFile = new XMLHttpRequest();
			rawFile.open("GET", file, false);
			rawFile.onreadystatechange = function () {
				if(rawFile.readyState === 4) {
					if(rawFile.status === 200 || rawFile.status == 0) {
						var allText = rawFile.responseText;
						alert(allText);
					}
				}
			}
			rawFile.send(null);
		}

        function displaypassword(passwd) {
            clearInterval(randomcode);
            document.getElementById("scrambled").innerHTML = passwd;
            startTyping("Success. The password is " + passwd, 40, "output");
        }

        function printrandom() {
                randomcode = setInterval(function() {
                    startTyping(genrandomstring(),40,"scrambled");
                    if (document.getElementById("output").innerHTML == "Generating Password combinations: [/]") {
                        document.getElementById("output").innerHTML = "Generating Password combinations: [\\]";	
                    } else {
                        document.getElementById("output").innerHTML = "Generating Password combinations: [/]"
                    }
                },(j*160));
        }

        function genrandomstring() {
            scrstring = "";
                for (var i = 1;i<=4;i++) {
                    scrstring+=String.fromCharCode((randomIntFromInterval(32,126)));
                };
            return scrstring;
        }

        function randomIntFromInterval(min, max) {
            return Math.floor(Math.random()*(max-min+1)+min);
        }
        
        var text = "content of text here";
        var delay = 30;
        var currentChar = 1;
        var destination = "[not defined]";

        function type() {
          if (document.getElementById) {
            var dest = document.getElementById(destination);
            if (dest) {
                dest.innerHTML = text.substr(0, currentChar);
                currentChar++
                if (currentChar > text.length) {
                    currentChar=1;
                    return true;
                } else {
                    setTimeout("type()", delay);
                }
            }
          }
        }

        function startTyping(textParam, delayParam, destinationParam) {
            text = textParam;
            delay = delayParam;
            currentChar = 1;
            destination = destinationParam;
            type();
        }

	</script>
</body>
</html>